* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* header */
header {
    width: 100%;
}

header .top {
    width: 100%;
    background-color: #95d8f5;
}

header .top .inner {
    width: 1180px;
    height: 45px;
    margin: 0 auto;
    position: relative;
}

header .top .util {
    position: absolute;
    top: 5px;
    right: 20px;
}

header .top .util li {
    float: left;
    border: 1px solid;
    margin: 5px;
}

header .top .util li a {
    display: block;
    font: 12px/1 arial;
    margin: 5px 10px;
}

header .inner {
    width: 1180px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}

header h1 {
    position: absolute;
    left: 0px;
    bottom: 15px;
}

header .inner h1 a {
	font: bold 24px/1 "arial";
	color: #000;
}

header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font: bold 15px/1 "arial";
	color: #555;
	padding: 21px 20px;
	transition: all 0.5s;
}

header .inner #gnb li a:hover {
	background: #95d8f5;
	color: #fff;
}

.sub li a {
    display: block;
    font: 13px/1 arial;
    background-color: #fff;
    padding: 10px 22px;
    text-align: center;
    cursor: pointer;
}
header .sub {
    position: absolute;
    display: none;
}

header .inner #gnb li:hover .sub {
    position: absolute;
    display: block;
}

figure {
    width: 100%;
    height: calc(20hv-45px);
    overflow: hidden;
}

figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

figure .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

figure .inner h2 {
    font: 40px arial;
}


/* section*/


section {
	width: 100%;
	padding: 50px 0px;
}
section .inner {
	width: 1180px;
	margin: 0px auto;
}

section .inner h2 {
    width: 200px;
    padding: 5px 10px;
    text-align: center;
    background-color: #98d8f5;
    border-radius: 7px;
    color: white;
    margin-left: 40px;
}

table{
    width: 1100px;
    margin: 30px auto;
    border-collapse: collapse;
}

table tr{
    padding: 20px;
    font: 16px/1 arial;
    letter-spacing: 5px;
    border-top: 1px solid gray;
}

table td {
    line-height: 250%;
    border-bottom: 1px solid gray;
    padding: 10px 20px
}

table td:first-child{
    width: 200px;
    text-align: left;
    border-right: 1px solid gray;
}

input {
    border: 1px solid;
    padding:6px 20px;
    color: #333;
    width: 150px;
    border-radius: 3px;
}

section .inner .sign {
    width: 200px;
    padding: 5px 10px;
    text-align: center;
    display: block;
    float: right;
    background-color: #98d8f5;
    border-radius: 7px;
    color: white;
    margin-right: 40px;
}

/* footer */
footer {
	width: 100%;
	background: #95d8f5;
	padding: 10px 0px;
    margin-top: 50px;
}
footer .inner {
	width: 1180px;
	margin: 0px auto;
}
footer .inner .upper {
	width: 100%;
	border-bottom: 1px solid #555;
	padding-bottom: 10px;
}
footer .inner .upper::after {
	/*상단 영역 float해제*/
	content: "";
	display: block;
	clear: both;
}

footer .inner .upper ul {
    text-align: center;
}
footer .inner .upper ul li {
	float: left;
	margin-left: 5px;
    padding: 0px 20px;
}
footer .inner .upper ul li a {
	font: bold 14px/1 "arial";
	color: #777;
}
footer .inner .lower {
	width: 100%;
	padding-top: 20px;
}
footer .inner .lower address {
	width: 100%;
	font: 12px/1.3 "arial";
	color: #555;
    text-align: center;
	margin-bottom: 20px;
}
footer .inner .lower p {
	width: 100%;
    text-align: center;
	font: 12px/1 "arial";
	color: #555;
}

